html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    width: 100%;
    object-fit: contain;
}
